@import "tailwindcss";

@theme {
  --color-primary: #44155B;
  --color-secondary: #E42F1C;
  
  --font-display: "Playfair Display", sans-serif;
  --font-lora: "Lora", serif;
  --font-nunitoSans: "Nunito Sans", sans-serif;
}

:root {
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Nunito Sans", sans-serif;
}

.navbar-icon-button {
  all: unset;
  display: inline-block;
  cursor: pointer;
  line-height: 0;
}

.swiper-pagination-bullet {
  background-color: var(--color-primary) !important;
  opacity: 0.4;
}

.swiper-pagination-bullet-active {
  background-color: var(--color-primary) !important;
  opacity: 1;
}
